# ignore the movie binaries
*.mp4
*.mov
*.webm
# ignore the fonts
*.ttf
*ttf
# ignore images
*.png
# ignore the compiled python binaries
*.pyc
# backup files
*.bak
# log files
*.log
# materials files
materials/*
materials/*.*
# outputs
outputs/*
outputs/*.*
# config files
config.json
*.json

